// Colors
$white: #FFF;
$black: #000;
$green: #7ACB00;
$royal: #314584;
$teal: #00b896;
$gray: #eef2f4;
$lavendar: #d8d8d8;
$dark-grey: #141414;

// Fonts
$font-family: "Work Sans", Arial, sans-serif;
