@import '_setting.variables.scss';
@import '_base.normalize.scss';

/* --------------- Body ---------------*/
.hero {
  &img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -9;
    margin-top: 0px;
    padding-top: 2rem;
    width: 50%;
    max-height: 98%;
  }
  &h1 {
    padding-top: 5rem;
  }
  &p {
    margin-bottom: 3.5rem;
    max-width: 50%;
  }
}

/*----------- Buttons/Links -----------------*/

.hero-btns {
  &a:first-child {
    background-color: $teal;
    border:2px solid $teal;
    color: $white;
    padding: 17px 35px;
    font-size: 1.0rem;
    border-radius: 30px;
  }
  /* Button: hover which includes the transition */
  &a:first-child:hover {
    background-color: $white;
    border:2px solid $teal;
    color: $royal;
    padding: 17px 35px;
    font-size: 1.0rem;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  &a:last-child {
    color: $royal;
    padding: 17px 35px;
    font-size: 1.0rem;
  }
  &a:last-child:hover {
    color: $teal;
    transition: all 0.3s ease;
  }
}

