@import '_setting.variables.scss';
@import '_base.normalize.scss';

/*--------- Fonts ---------------*/

body {
  color: $royal;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  transition: opacity 1s;
  min-width: 330px;
}
h1,
.h1 {
  font-size: 4.4rem;
  margin-bottom: 20px;
}
h2,
.h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 50px;
}
.about h2 {
  margin-bottom: 25px;
}
h3,
.h3 {
  font-size: 1.9rem;
  line-height: 2.5rem;
  margin-bottom: 15px;
}
h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 1rem;
  color: $teal;
}
h6,
.h6 {
  font-size: 1rem;
  margin-bottom: 10px;
}
.about p {
  color: $royal;
}
p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: $grey;
  margin-bottom: 15px;
  letter-spacing: 0.025em;
}
.container-fluid {
    width: 100%;
    padding-right: 1rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
}

/* --------------- Body ---------------*/
.hero {
  &img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -9;
    margin-top: 0px;
    padding-top: 2rem;
    width: 50%;
    max-height: 98%;
  }
  &h1 {
    padding-top: 5rem;
  }
  &p {
    margin-bottom: 3.5rem;
    max-width: 50%;
  }
}

/*----------- Buttons/Links -----------------*/

.hero-btns {
  &a:first-child {
    background-color: $teal;
    border:2px solid $teal;
    color: $white;
    padding: 17px 35px;
    font-size: 1.0rem;
    border-radius: 30px;
  }
  /* Button: hover which includes the transition */
  &a:first-child:hover {
    background-color: $white;
    border:2px solid $teal;
    color: $royal;
    padding: 17px 35px;
    font-size: 1.0rem;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  &a:last-child {
    color: $royal;
    padding: 17px 35px;
    font-size: 1.0rem;
  }
  &a:last-child:hover {
    color: $teal;
    transition: all 0.3s ease;
  }
}

/*---------- Responsiveness ---------*/
@media (max-width: 1700px) {
  .hero-btns {
    margin-bottom: 200px;
  }
}
@media (max-width: 1500px) {
  .hero img {
  }
}
@media (max-width: 1350px) {
  .hero-btns {
    margin-bottom: 140px;
  }
}
@media (max-width: 1199px) {
  .hero img {
    margin-top: 0px;
    width: 40%;
  }
  .hero h1 {
    margin-top: 0px;
  }
  .hero-btns {
    margin-bottom: 120px;
  }
}
@media (max-width: 991px) {
  .hero img {
    display: none;
  }
  .hero {
    text-align: center;
  }
  .hero h1 {
    margin-top: 0px;
  }
  .hero p {
    text-align: center;
    margin: auto;
    padding-bottom: 4rem;
  }
  .hero-btns {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 454px) {
  .hero h1 {
    font-size: 3.0rem;
    margin-top: 50px;
  }
  .hero p {
    font-size: 0.8rem;
    text-align: center;
  }
  .hero-btns a:first-child {
    font-size: 0.8rem;
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .hero-btns a:last-child {
    font-size: 0.8rem;
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}
