// Colors
$white: #FFF;
$red: #F1352B;
$green: #7ACB00;
$purple: #6E27C5;
$orange: #FF6600;
$blue: #150F96;
$black: #1a0200;
$royal: #314584;
$teal: #00b896;
$gray: #eef2f4;
$black: #000;
$lavendar: #d8d8d8;
$dark-gray: #141414;

// Fonts
$font-family: "Work Sans", Arial, sans-serif;
